[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = 1
RUSTDOCFLAGS = { value = "", condition = { env_not_set = ["RUSTDOCFLAGS"] } }

RUSTFLAGS = { value = "-Dwarnings", condition = { env_true = ["CARGO_MAKE_CI"] } }

[config]
default_to_workspace = false
skip_core_tasks = true
skip_git_env_info = true
skip_rust_env_info = true


[tasks.default]
description = "List tasks"
script = "cargo make --quiet --list-all-steps --hide-uninteresting"


# Build
[tasks.build]
category = "build"
description = "Build Code with default features"
command = "cargo"
args = [
    "build",
    "--verbose",
    "--release",
    "--package=aranya-daemon",
    "${@}",
]

[tasks.build-default]
category = "build"
description = "Build Code with default features"
dependencies = ["build"]

[tasks.build-experimental]
category = "build"
description = "Build Code with experimental features"
command = "cargo"
args = ["build", "--verbose", "--release", "--package=aranya-daemon", "--features=preview,experimental", "${@}"]

[tasks.build-preview]
category = "build"
description = "Build Code with preview features"
command = "cargo"
args = ["build", "--verbose", "--release", "--package=aranya-daemon", "--features=preview", "${@}"]

[tasks.tgz-daemon]
category = "build"
description = "Archive daemon"
dependencies = ["build"]
script = "tar -czf aranya-daemon.tar.gz -C target/release aranya-daemon"

# Build aranya-certgen
[tasks.build-certgen]
category = "build"
description = "Build aranya-certgen CLI tool"
command = "cargo"
args = ["build", "--verbose", "--release", "--package=aranya-certgen", "--features=cli", "${@}"]

[tasks.tgz-certgen]
category = "build"
description = "Archive aranya-certgen"
dependencies = ["build-certgen"]
script = "tar -czf aranya-certgen.tar.gz -C target/release aranya-certgen"

# Build the `aranya-client-capi` C API.
[tasks.build-capi]
category = "build"
description = "Build C API"
run_task = { name = [
    "build-capi-docs",
    "build-capi-lib",
] }

[tasks.build-capi-docs]
category = "build"
description = "Build C API docs"
cwd = "crates/aranya-client-capi"
command = "doxygen"

[tasks.tgz-capi-docs]
category = "docs"
description = "Archive capi docs"
script = "tar -cvzf aranya-client-capi-docs.tar.gz -C crates/aranya-client-capi/docs ."

[tasks.build-capi-lib]
category = "build"
description = "Build C API shared library with default features"
cwd = "crates/aranya-client-capi"
command = "cargo"
args = ["build", "--release"]

[tasks.build-capi-lib-default]
category = "build"
description = "Build C API shared library with default features"
dependencies = ["build-capi-lib"]

[tasks.build-capi-lib-experimental]
category = "build"
description = "Build C API shared library with experimental features"
cwd = "crates/aranya-client-capi"
command = "cargo"
args = ["build", "--release", "--features=preview,experimental"]

[tasks.build-capi-lib-preview]
category = "build"
description = "Build C API shared library with preview features"
cwd = "crates/aranya-client-capi"
command = "cargo"
args = ["build", "--release", "--features=preview"]

[tasks.tgz-capi]
category = "build"
description = "Archive C API artifacts"
script = '''
#!/usr/bin/env bash
capi="$(mktemp -d)"
mkdir -p "${capi}/"{lib,cmake,include}
ls target/release/libaranya_client*
cp target/release/libaranya_client_capi.dylib "${capi}"/lib/ || cp target/release/libaranya_client_capi.so "${capi}"/lib/
ls "${capi}"/lib
cp examples/c/cmake/AranyaConfig.cmake "${capi}"/cmake/
cp crates/aranya-client-capi/output/aranya-client.h "${capi}"/include/
tar -cvzf aranya-client-lib.tar.gz -C "${capi}" .
'''

# Test
[tasks.test]
category = "test"
description = "Run Unit Tests"
workspace = true
command = "cargo"
args = ["--verbose", "test-all-features", "${@}"]
dependencies = ["install-cargo-all-features"]

[tasks.ctest-build]
category = "build"
description = "Build C API test suite"
script = '''
cmake -B build -S .
cmake --build build
'''

[tasks.ctest]
category = "test"
description = "Run C API test suite"
cwd = "build"
command = "ctest"
dependencies = ["ctest-build"]

[tasks.ctest-verbose]
category = "test"
description = "Run C API test suite with verbose output"
cwd = "build"
command = "ctest"
args = ["-V"]
dependencies = ["ctest-build"]


# Security
[tasks.security]
category = "security"
description = "Run security checks"
run_task = { name = [
    "cargo-audit",
    "cargo-deny",
    "cargo-vet",
] }

[tasks.cargo-audit]
category = "security"
toolchain = "stable"
install_crate = { crate_name = "cargo-audit", version = "0.22.0", binary = "cargo-audit", test_arg = "-V" }
command = "cargo"
args = ["audit"]

[tasks.cargo-deny]
category = "security"
toolchain = "stable"
install_crate = { crate_name = "cargo-deny", version = "0.18.9", binary = "cargo-deny", test_arg = "-V" }
command = "cargo"
args = ["deny", "check"]

[tasks.cargo-vet]
category = "security"
toolchain = "stable"
install_crate = { crate_name = "cargo-vet", version = "0.10.1", binary = "cargo-vet", test_arg = "-V" }
command = "cargo"
args = ["vet", "check"]

# Correctness
[tasks.correctness]
category = "correctness"
description = "Run correctness checks"
run_task = { name = [
    "fmt",
    "check-features",
    "clippy",
    "machete",
] }

[tasks.check-fmt]
dependencies = [
    "check-fmt-rust",
    "check-fmt-toml",
    "check-fmt-c",
]
description = "Check file formatting"

[tasks.fmt]
dependencies = [
    "fmt-rust",
    "fmt-toml",
    "fmt-c",
]
description = "Format files"

[tasks.check-fmt-rust]
category = "correctness"
description = "Check rust code formatting"
command = "scripts/cargo-fmt.sh"
args = ["--all", "--", "--check"]

[tasks.fmt-rust]
category = "correctness"
description = "Format rust code"
command = "scripts/cargo-fmt.sh"
args = ["--all"]

[tasks.check-fmt-toml]
category = "correctness"
description = "Check toml formatting"
script = "git ls-files -z '*.toml' | xargs -0 -- taplo fmt --check --diff"
dependencies = ["install-taplo"]

[tasks.fmt-toml]
category = "correctness"
description = "Format toml"
script = "git ls-files -z '*.toml' | xargs -0 taplo fmt"
dependencies = ["install-taplo"]

[tasks.check-fmt-c]
category = "correctness"
description = "Check C formatting"
script = "git ls-files -z '*.c' '*.h' | xargs -0 -- clang-format --Werror --dry-run"

[tasks.fmt-c]
category = "correctness"
description = "Format C"
script = "git ls-files -z '*.c' '*.h' | xargs -0 -- clang-format --Werror -i"

[tasks.install-taplo]
private = true
toolchain = "stable"
install_crate = { crate_name = "taplo-cli", version = "0.10.0", binary = "taplo", test_arg = ["-V"] }

[tasks.check-features]
category = "correctness"
description = "Check features"
workspace = true
command = "cargo"
args = ["--verbose", "check-all-features"]
dependencies = ["install-cargo-all-features"]

[tasks.clippy]
category = "correctness"
description = "Run clippy to lint code"
workspace = true
script = '''
cargo clippy
cargo clippy --all-targets
# cargo clippy --no-default-features (TODO: uncomment in #448)
cargo clippy --all-targets --all-features
'''
install_crate = { rustup_component_name = "clippy" }

[tasks.machete]
toolchain = "stable"
command = "cargo"
args = ["machete"]
install_crate = { crate_name = "cargo-machete", version = "0.9.1", binary = "cargo-machete", test_arg = "--version" }


# Docs
[tasks.gen-docs]
category = "docs"
description = "Generate docs"
env.RUSTC_BOOTSTRAP = "1"
env.RUSTDOCFLAGS = "--cfg docsrs ${RUSTDOCFLAGS}"
command = "cargo"
args = ["doc", "--all-features"]

[tasks.tgz-docs]
category = "docs"
description = "Archive Rust docs"
script = "tar -czf rust-docs.tar.gz -C target/doc ."

# Misc
[tasks.git-unchanged]
description = "Verify files are unchanged"
script = '''
git diff
status=$(git status -s)
if [ -n "$status" ]; then
    echo "$status"
    exit 1
fi
'''

[tasks.install-cargo-all-features]
private = true
toolchain = "stable"
install_crate = { crate_name = "cargo-all-features", version = "1.12.0", binary = "cargo-check-all-features", test_arg = ["-V"] }


# Examples

# C Example
[tasks.run-capi-example]
category = "examples"
description = "Run C example application"
cwd = "examples/c"
script = "./run.bash"
dependencies = ["build-capi-lib-experimental"]

# Rust Example
[tasks.run-rust-example]
category = "examples"
description = "Run Rust example application"
cwd = "examples/rust/aranya-example"
script = "./run.bash"

[tasks.run-rust-example-multi-node]
category = "examples"
description = "Run Rust example application on multiple nodes"
cwd = "examples/rust/aranya-example-multi-node"
script = "./run.bash"

[tasks.run-rust-example-onboarding]
category = "examples"
description = "Run Rust example onboarding application"
cwd = "examples/rust/aranya-example-onboarding"
script = "./run.bash"

# Metrics

# Run `aranya-metrics`
[tasks.metrics]
category = "metrics"
description = "Run Metrics Crate"
script = '''
#!/usr/bin/env bash
set -e
cargo build --bin aranya-daemon --release --features=preview
cargo build --bin aranya-metrics --release
CONFIG_PATH=$(pwd)/crates/aranya-metrics/example-metrics.toml $(pwd)/target/release/aranya-metrics $(pwd)/target/release/aranya-daemon
'''

# Run `aranya-metrics` using prometheus
[tasks.metrics-prometheus]
category = "metrics"
description = "Run aranya-metrics crate w/ Prometheus exporter and a Push Gateway"
script = "crates/aranya-metrics/prometheus.bash"
