# The name of the daemon used for logging and debugging
# purposes.
name = "my-aranya-daemon"


# The directory where the daemon stores non-essential
# runtime files and other file objects (sockets etc.).
#
# # Multiple Daemon Support
#
# This directory should be unique for each instance of the
# daemon.
#
# # Example
#
# For example this could be `/var/run/aranya`.
#
# See also = systemd `RuntimeDirectory=` and
# `$XDG_RUNTIME_DIR`.
runtime_dir = "/var/run/aranya"

# The directory where the daemon stores non-portable data
# that should persist between application restarts.
#
# # Multiple Daemon Support
#
# This directory should be unique for each instance of the
# daemon.
#
# # Example
#
# For example this could be `/var/lib/aranya`.
#
# See also = systemd `StateDirectory=` and
# `$XDG_STATE_HOME`.
state_dir = "/var/lib/aranya"

# The directory where the daemon stores non-essential data
# files.
#
# # Multiple Daemon Support
#
# This directory should be unique for each instance of the
# daemon.
#
# # Example
#
# For example this could be `/var/cache/aranya`.
#
# See also = systemd `CacheDirectory=` and
# `$XDG_CACHE_HOME`.
cache_dir = "/var/cache/aranya"

# The directory where the daemon writes log files.
#
# # Multiple Daemon Support
#
# This directory should be unique for each instance of the
# daemon.
#
# # Example
#
# For example this could be `/var/log/aranya`.
#
# See also = systemd `LogsDirectory=`.
logs_dir = "/var/log/aranya"

# The directory where the daemon can find additional
# configuration files.
#
# # Multiple Daemon Support
#
# This directory should be unique for each instance of the
# daemon.
#
# # Example
#
# For example this could be `/etc/aranya`.
#
# See also = systemd `ConfigDirectory=` and
# `$XDG_CONFIG_HOME`.
config_dir = "/etc/aranya"

[afc]
enable = true
shm_path = "/afc"
max_chans = 100

[sync.quic]
enable = true
# Aranya sync server address.
addr = "0.0.0.0:4321"
# Directory containing trusted root CA certificates (PEM format).
root_certs_dir = "/etc/aranya/certs/ca"
# Path to the device's certificate file (PEM format).
device_cert = "/etc/aranya/certs/device.crt"
# Path to the device's private key file (PEM format).
device_key = "/etc/aranya/certs/device.key"
