name: "Generate Docs"

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string
    secrets:
      CC_BUILD_TOKEN:
        required: true
      GH_DOTCOM_TOKEN:
        required: true

env:
  REV: ${{ github.run_id }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.workflow }}
  cancel-in-progress: true

jobs:
  doc:
    strategy:
      matrix:
        runner: ["ubuntu-latest"]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup
        with:
          ghe-token: ${{ secrets.CC_BUILD_TOKEN }}
          gh-token: ${{ secrets.GH_DOTCOM_TOKEN }}
          runner: ${{ matrix.runner }}

      - name: Generate docs
        env:
          RUSTDOCFLAGS: "-Dwarnings"
        run: |
          if ! command -v zip; then
            sudo apt-get install -y zip \
            --no-install-recommends
          fi
          cargo make gen-docs-nightly
          cargo make zip-docs

      - name: Publish docs
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs.zip
          if-no-files-found: error
