name: "Unit tests"

permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string

env:
  REV: ${{ github.run_id }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.workflow }}-${{ github.ref != 'refs/heads/main' || github.run_id }}
  cancel-in-progress: true

jobs:
  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v4
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.43.5
  unit-tests:
    permissions:
      contents: read
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu2404-arm64-4core
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Unit Tests
        run: cargo make test

  c-tests:
    permissions:
      contents: read
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu2404-arm64-4core
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Unit Tests
        run: cargo make ctest

  c-example-application:
    permissions:
      contents: read
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu2404-arm64-4core
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: C Example Application
        run: |
          export CC=clang
          cargo make run-capi-example

  rust-example-application:
    permissions:
      contents: read
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu2404-arm64-4core
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Rust Example Application
        run: |
          cargo make run-rust-example

  rust-example-application-multi-node:
    permissions:
      contents: read
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu2404-arm64-4core
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Rust Multi-node Example Application
        run: |
          cargo make run-rust-example-multi-node
